
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    font-family:inter,arial, sans-serif ;
}
html{

    background-color: hsl(0, 0%, 8%);
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}
.profile-box{
    border-radius: 12px;
    width: 450px;
    background-color:hsl(0, 0%, 12%);
    display: grid;
    justify-content: center;
    text-align: center;

}
.image-place{
    display: flex;
    justify-content: center;
    margin-top: 33px;
}
.profile-picture{
    width: 90px;
    border-radius: 50%;
}
.name{
   color: #ffffff;
   margin-top: 25px;
   font-size: 26px;
   font-weight: 700; 
}
.adress{
    color:hsl(75, 94%, 57%);
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}
.bio{
    color: hsl(0, 0%, 67%);
    font-size: 14px;
    font-weight: 400;
    margin-top: 33px;
    margin-bottom: 30px;
    
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(0, 0%, 20%) ;
    color: #ffffff;
    width: 350px;
    height: 45px;
    font-weight: 600;
    border-radius: 6px;
    margin-bottom:22px ;
    cursor: pointer;
    transition: 0.15s;
}
.links-box{
    margin-bottom: 20px;
}
.links:hover{
    color:hsl(0, 0%, 12%) ;
    background-color: hsl(75, 94%, 57%);
}
.links:active{
    color:hsl(0, 0%, 12%) ;
    background-color: rgba(197, 248, 42,0.8);
}
a{
    text-decoration: none;
}